<div style="width:{$twt->twitterwidget_width}px; display:block; margin:auto; margin-top:10px; margin-bottom:10px;"><a class="twitter-timeline" data-dnt="true" href="https://twitter.com/{$twt->twitterwidget_name}" data-widget-id="{$twt->twitterwidget_wid}">Tweets by @{$twt->twitterwidget_name}</a>
<script>{literal}!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");{/literal}</script></div>